body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.patient-form {
  background-color: #fffddf;
    box-shadow:2px 2px 10px 1px #acacac;;
    width: 75%;
    margin: 0 10px 0 50px;
    padding: 30px 0 0 0;
    height: 70%;
    border-radius: 20px;
    overflow: auto;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

.patient-form input,
textarea {
  width: 80%;
  padding: 8px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.648);
}

.patient {
  display: block; /* Set the button to display as a block */
  background-color: #217102;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
  width:fit-content; /* Make the button fill the entire width of the form */
  margin: 10px auto;
}

button:hover {
  background-color: #45a049;
}
