.searchBox {
    position: fixed;
    top: 8%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, 50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 0 0 0 10px;

}


.searchBox:hover>.searchButton {
    background: white;
    cursor: pointer;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 80%;
    padding: 0 6px;

}

@media only screen and (max-width: 600px) {
    .searchBox{
        top: 5%;
        width: 50%;
    }
    .searchInput{
        width: 70%;
    }
  }